<% include partials/header %>
  <h1>Booking: <%= listing.name %></h1>
  <form action="/listing/confirm" method="post">
    <input type="date" name="dateBooking">
    <input type="submit" value="Submit">
  </form>

<% include partials/footer %>