<header>
  <h1>Please Input Info:</h1>
</header>

<body>
  <!-- This is the form for adding speces to our space database and dashboard list -->
  <form action="/listings/new" method="post">
    <input type="text" name="name">
    <input type="text" name="description">
    <input type="text" name="price">
    <button type="submit" name="Submit">Submit</button>
  </form>
