<% include partials/header %>
<header>
  <h1>Please Input Info:</h1>
</header>

  <!-- This is the form for adding spaces to our space database and dashboard list -->
  <form action="/listings/new" method="post">
    <input type="text" name="name" placeholder="title">
    <input type="text" name="description" placeholder="description">
    <input type="number" name="price" placeholder="price">
    <input type="text" name="start-date" placeholder="Start Date"/>
    <input type="text" name="end-date" placeholder="End Date" />
    <button type="submit" name="Submit" class="button-primary">Submit</button>
  </form>

<% include partials/footer %>