html {
  background-image: url('https://images.unsplash.com/photo-1517162418377-ff38a5961ca6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c8fd96c951d2eb710737425a8ba34501&auto=format&fit=crop&w=1349&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.wrapper {
  margin-top: 20%;
}

.title {
  background-color: rgba(255,255,255,0.3);
  padding: 5px;
  border-radius: 6px;
}